{% extends 'base.html' %}
{% block navbar %}
    <nav class="navbar navbar-expand navbar-dark bg-dark p-3">
      <a class="navbar-brand h6" href="/">Exibição</a>
      <a class="navbar-brand h6" href="/registro">Registro</a>
      <a class="navbar-brand h6" href="/guiches">Ghichês</a>
      <a class="navbar-brand h6" href="/guichemaster">Ghichê Mestre</a>
      <a class="navbar-brand h6" href="/relatorio">Relatório</a>
    </nav>
    <header>
        <img src="../static/images/caduni-img.png" alt="Logo" class="logo">
        <img src="../static/images/logo.png" alt="Logo" class="logo">
    </header>
{% endblock %}
{% block content %}
    <div class="container p-5">
        <div class="container">
            <h3 class="titulo">
                Bem-vind@!
            </h3>
        </div>
        {% if fila_prior %}
            <div class="container">
                <p class="aviso">Há pessoas na fila!</p>
            </div>
        {% endif %}
       <form method="post" class="form" onsubmit="return showAlert()">
        <div class="btn-group" role="group" aria-label="Basic example">
            <!-- Botão padrão para /proximo -->
            <button type="submit" formaction="/proximomaster" class="btn btn-primary btn-guiches">Chamar Próximo</button>
            <!-- Novo botão para /finalizar -->
            <button type="submit" formaction="/finalizarmaster" class="btn btn-danger btn-guiches">Finalizar</button>
        </div>
       </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
    
        socket.on('updatemaster', function() {
            window.location.reload(true);
        });
    </script>
    <script>
        // Função que mostra o alerta e controla o envio do formulário
        function showAlert() {
            // Exibe o alerta
            window.alert("Ação concluída!");
    
            // Retorna true para permitir que o formulário seja enviado
            return true;
        }
    </script>
{% endblock %}
