{% extends 'base.html' %}
{% block content %}
    <header>
        <img src="../static/images/logo.png" alt="Logo" class="logo">
        <h1>Cadastro Único</h1>
    </header>

    <div class="container p-3">
        <div class="master">
            {% for guiche in guiches %}
            {% if guiche != 0 %}
                <div class="child">
                    <div class="form">
                        <span class="guiche">Guichê {{ loop.index }}:</span>
                        <span class="name">{{ guiche }}</span>
                    </div>
                </div>
            {% endif %}  
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script>
        var socket = io();
    
        socket.on('atualizar_ficha', function(data) {
            window.location.reload(true);
        });
    </script>
{% endblock %}
