{% extends 'base.html' %}
{% block content %}
    <header>
        <img src="../static/logo.png" alt="Logo" class="logo">
        <h1>Controle de Fila de Recadastramento</h1>
    </header>
    <div class="container p-3">
        <form action="/registrar" method="post" class="form">
            <div class="form-group">
                <label for="name-input" class="label">Nome:</label>
                <input type="text" name="name-input" id="name-input" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <div class="container p-3">
        <ul>
            {% for pessoa in fila %}
            <li>
                {{ pessoa|e }}
                <form action="/remover" method="post" style="display:inline;">
                    <input type="hidden" name="nome" value="{{ pessoa }}">
                    <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // Função para tocar o som quando a página for carregada
        window.onload = function() {
            // Obtém o elemento de áudio
            var audio = document.getElementById('audio');
            // Toca o som
            audio.play();
        }
        // Conecta ao servidor SocketIO
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Escuta o evento "atualizar_ficha"
        socket.on('atualizar_ficha', function(data) {
            window.location.reload(true);
        });
    </script>
{% endblock %}
